@inherits LayoutComponentBase

<div class="bg-gray-100 flex">
    <NavMenu />

    <main class=" min-h-screen w-full">
            <TopMenuUser />
        <div class="w-full">
            <div class="py-3 px-4">
                @Body
            </div>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
