@page "/"

@inject ILoggningService _log

<PageTitle>Home</PageTitle>


<p class="bg-amber-400">Hej</p>
<div>herhher
    hre
    her
    hre
    her
    her
    her

</div>

@code {
    protected override Task OnInitializedAsync()
    {
        _log.Log("Test", EnumStatusValue.Success);
        return base.OnInitializedAsync();
    }
}